@{
    Layout = "~/Views/Shared/_Layout.Patient.cshtml";
    ViewData["Title"] = "Billing History";
}

<h3>💳 Billing Summary</h3>
<table class="table table-bordered mt-3">
    <thead class="table-light">
        <tr>
            <th>Bill ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>#1001</td><td>01-May-2025</td><td>₹500</td><td>Paid</td></tr>
        <tr><td>#1002</td><td>11-May-2025</td><td>₹1200</td><td>Pending</td></tr>
    </tbody>
</table>